<div class="row-fluid">
	
	
  <div class="span6">
  	<div class="hero-unit">
		<h2>Better Business Analysis</h2>
		<!-- <a href="#" rel="tooltip" title="first tooltip">hover over me</a> -->
		<p>Better Business Analysis is a global community of seasoned and aspiring Business Analysts around the world. Our goal is simple, to improve the quality of Business Analysis in software projects around the world. We believe the best way to achieve that is by bringing together professionals of various levels of skills, handling different kinds of challenges across projects that span pretty much every industry/domain in the world.</p>
		<!-- <%= link_to 'Join the Community', '#', {:rel => "popover", :title => "Its Free!", :'data-content' => "Join our Forum to stay in touch with the world's best Business Analysts", :class => "btn btn-danger btn-large"} %> -->
			<%= link_to 'Join the Community', '#', {:rel => "popover", :title => "Its Free!", :'data-content' => "Join our Forum to stay in touch with the world's best Business Analysts", :class => "btn btn-primary btn-large"} %>
		</p>
	</div>
  </div>
	<div class="span4">
		<object width="571" height="428"><param name="movie" value="http://www.youtube.com/v/KBFz22eFjt8?version=3&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/KBFz22eFjt8?version=3&amp;hl=en_US" type="application/x-shockwave-flash" width="571" height="428" allowscriptaccess="always" allowfullscreen="true"></embed></object>
		<!-- <video width="560" height="425"  controls="controls">
				  <source src="videos/video.mp4" type="video/mp4" />
				  <source src="videos/video.ogv" type="video/ogv" />
				  Your browser does not support the video tag.
				</video> -->
	</div>

	

</div>

<div class="tabbable"> 
  <ul class="nav nav-pills">
    <li class="active"><a href="#tab1" data-toggle="tab">Better Yourself</a></li>
    <li><a href="#tab2" data-toggle="tab">Find a Class</a></li>
    <li><a href="#tab3" data-toggle="tab">Get in Touch</a></li>

  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      	<div id="myCarousel" class="carousel">
            			  <div class="carousel-inner">
            			    <div class="active item">
            					<%= link_to image_tag('test7.jpg', :size => "1200x480", :alt => "Better Business Analysis"), '/courses'  %>
            					<div class="carousel-caption">
            						<h4>Learn IT Basics</h4>
            						<p>Start with learning the absolute basics of IT like SDLC, Requirements Gathering and Testing</p>
            					</div>
            				</div>
            			    <div class="item">
            			    	<%= image_tag 'test6.jpg', :size => "1200x480", :alt => "Better Business Analysis" %>
            					<div class="carousel-caption">
            						<h4>Build Relationships</h4>
            						<p>Then go to Spain and Relax</p>
            					</div>
            			    </div>
            			    <div class="item">
            			    	<%= image_tag 'test9.jpg', :size => "1200x480", :alt => "Better Business Analysis"%>
            					<div class="carousel-caption">
            						<h4>Improve Your Career</h4>
            						<p>If you dont like Spain you can also go here</p>
            					</div>
            			    </div>
            			  </div>
            			  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            			  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            			</div>
      	    </div> 
    <div class="tab-pane" id="tab2">
	<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=h12cnkqgj1hlqgp8bb69gehua0%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=America%2FNew_York" style=" border-width:0 " width="1170" height="400" frameborder="0" scrolling="no"></iframe>
    </div>
 <div class="tab-pane" id="tab3">
      <p>Howdy, I'm in Section 3.</p>
    </div>
  </div>
</div>

<!-- <div id="myCarousel" class="carousel">
  <div class="carousel-inner">
    <div class="active item">
		<%= image_tag 'test_image.jpg', :size => "1200x480", :alt => "Better Business Analysis" %>
		<div class="carousel-caption">
			<h4>Learn IT Basics</h4>
			<p>Start with learning the absolute basics of IT like SDLC, Requirements Gathering and Testing</p>
		</div>
	</div>
    <div class="item">
    	<%= image_tag 'test2.jpg', :size => "1200x480", :alt => "Better Business Analysis" %>
		<div class="carousel-caption">
			<h4>Travel</h4>
			<p>Then go to Spain and Relax</p>
		</div>
    </div>
    <div class="item">
    	<%= image_tag 'test3.jpg', :size => "1200x480", :alt => "Better Business Analysis"%>
		<div class="carousel-caption">
			<h4>Travel More</h4>
			<p>If you dont like Spain you can also go here</p>
		</div>
    </div>
  </div>
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div> -->


	
